@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin:0;
}

.movie-container{
  display: flex;
  flex-wrap:wrap;
}

.movie{
  background-color: rgb(39, 59, 59);
  box-shadow: 3 3px 5px rgba(0,0,0,0.1);
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie info h3 {
  margin: 0;
}

.movie-info span {
  background-color: cadetblue;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie:hover .overview {
  transform: translateY(0);
}